<html>
<head>  </head>
<title>  accomodation </title>
<form>
<h1> Book your flight </h1>
<input type="radio" name="here" value="round"> Round trip
<input type="radio" name="here" value="one"> One way
<input type="radio" name="here" value="multi"> Multi city
<br> <br> 
<textarea> from city or airport  </textarea> >>  <textarea> to city or airport </textarea>
<br> <br>
depart: <input type="text" name="dep" value="">
<br> <br>
return:  <input type="text" name="ret" value="">
<br> <br>
travelers: <select name="trav">
<option value="inf"> infants
<option value="chi"> children
<option value="adt">adults
<option value="snr">senior citizens
</select>
Class: <select name="class">
<option value="eco">economy
<option value="buss"> business
<option value="first"> first class
</select>
<br>
<br> 
How would you like to pay for this?
<select name="credit">
<option selected value="must">MasterCard
<option value="visa">visa
<option value="disc">discover
<option value="amex">american express
</select>
<br>
please enter the card number:<Input Type="text" Size="25" Maxlength="16"> <br> <br>
<input type="submit" value="GetSetGo">
</form>
<body bgcolor="silver">

<img src="f.jpg">
<a href="deals.html"> <img src="fff.jpg" align="right"> </a>

</body>
</html>