<html>
<head>  </head>
<title>  accomodation </title>
<form>
<h1> Book your hotel </h1>
<input type="radio" name="here" value="3"> 3 star hotel
<input type="radio" name="here" value="5"> 5 star hotel
<input type="radio" name="here" value="7"> 7 star hotel
<h2> find best deals across 200,000+ hotels available </h2>
<textarea name="a" rows="5" cols="50"  > Enter city name, area name,hotel name </textarea>
<br>
checkin date: <input type="text" name="dep" value="">
<br> <br>
checkout date:  <input type="text" name="ret" value="">
<br> <br>
Rooms <select name="room">
<option value="1"> 1 room
<option value="2"> 2 room
<option value="3"> 3 room
<option value="more"> more rooms
</select>
<br>
How would you like to pay for this?
<select name="credit">
<option selected value="must">MasterCard
<option value="visa">visa
<option value="disc">discover
<option value="amex">american express
</select>
<br>
please enter the card number:<Input Type="text" Size="25" Maxlength="16"> <br> <br>
<input type="submit" value="GetSetGo">
</form>
<body bgcolor="grey">
<img src="h.jpg" >  <a href="/guide"> <img src="photo.jpg" align="right" height="40%" width="45%"> </a>
</body>
</html>