
<HTML><HEAD><TITLE> Trip to chamba</TITLE><a href=main.htm><FONT FACE= TIMES NEW ROMAN SIZE=3 COLOR=Feldspar ></a></FONT>
<br>
<body bgcolor="slateblue"><h1><b><center><font face= arial narrow size=6> Chamba</font></H1></b></center>
                      <p>  <b><FONT COLOR= "sky blue"; FONT face= Arial>Chamba</FONT></b><BR>Blessed with some of the most spectacular and beautiful landscapes anywhere, it is a travellers paradise -lofty snow peaks, deep gorges, lush green valleys, fast flowing rivers, enchanting mountain lakes, flower bedecked meadows, beautiful temples and monasteries steeped in time. May it be for relaxing, sightseeing, trekking, mountaineering, fishing, para-gliding, skiing, ice skating and golf, Himachal has it all...Come Explore Himachal with himachaltourist....</p><center><IMG 
height=200 alt="Chamba" hspace=10 src="chamba.jpg" width=300>
</center><b><FONT COLOR= "sky blue"; FONT face= Arial><br></br>              Around Dalhousie 

Subhash Baoli (2,085 m)


</FONT></b><BR>Not far from the G.P.O. Square is the spring at Subhash Baoli with panoramic views of the snow-capped mountains. (1.6 km)
<BR><BR>
                <b><FONT 
                         COLOR= "sky blue"; FONT face= Arial>Satdhara (2,036 m)</FONT></b><BR>Sparkling springs close to town, rich in mica and other minerals, are noted for their medicinal properties.<BR><BR><B><FONT 
                         COLOR= "sky blue"; FONT face= Arial>Panjpulla
 
                  
                  </B></FONT><BR>Beyond Sathara is another pretty spot where the water from a natural tank flows under five little bridges. (2 km)<BR><BR><b><FONT 
                         COLOR= "sky blue"; FONT face= Arial>Bakrota Hills (2,085 m)
</FONT></b><BR>The Bakrota Mall, a popular walking circuit around these hills has a spectacular view of the mountains (2 km)<BR><BR><b><FONT  COLOR= "sky blue"; FONT face= Arial>Kalatope (2,440 m)
</FONT></b><BR>An ideal weekend retreat with forest rest houses and beautiful spots for picnics, in a little wildlife sanctuary. (8.5 km) </BODY></HTML>
