<html>
<head>  </head>
<title> contact us </title>
<form>
<br>
<h1> Contact us </h1>
<hr>
<br>
Your name: <br>
<input type="text" name="nam" value=" " size="30">
<br>
Your email:<br>
<input type="text" name="nam" value=" " size="30">
<br>
Your message:<br>
<textarea name="msg" rows="5" cols="60" >  enter your message here </textarea> <br> <br>
<input type="submit" value="send email">

<h3 align="right"> <a href="/travel"> homepage </a>
</form>
<body >
<br>
<br> <br>
<img src="anki.jpg" align="right">
</body>

</html>