<html>
<head>  </head>
<title> gallery </title>
<style>
header{ background:black;color:white}
</style>
<body bgcolor="grey" >
<header> <h1> Top travel destination gallery   </h1>  </header> <br>
<a href="/jaipurr">   <img src="img (1).jpg"  height="25%" width="35%">   <font size="5">  Jaipur </font> </a>                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="/chambaa"> <img src="img (2).jpg" height="25%" width="35%" > <font size="5"> chamba city </font>  </a>        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="/solann"> <img src="img (3).jpg" height="25%" width="35%">  <font size="5">solan </font> </a>                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="/nanitall"> <img src="img (5).jpg" height="25%" width="35%">  <font size="5">nanital </font> </a>                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="/kangraa"> <img src="img (6).jpg" height="25%" width="35%"> <font size="5"> kangra </font></a>                     &nbsp &nbsp &nbsp &nbsp &nbsp
<a href="/gangotrii"> <img src="img (7).jpg" height="25%" width="35%"> <font size="5">gangotri </font> </a>                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<h3> click on images to explore more about place </h3 ><h3 align="right">
<a href="travel"> homepage </a>
</body>
</html>