
<HTML><HEAD><TITLE>gangotri</TITLE>
</HEAD><br>
<a href=main.htm></a>
<br>

<BODY bgcolor="GREEN"><B><center><FONT face=Arial color=BLACK><FONT size=5>RISHIKESH TO 
GANGOTRI</FONT></FONT></B></center> 
<P><IMG height="259" src="gang.jpg" width="202" align="left"><FONT 
face=Arial COLOR="YELLOW"><FONT size=3>Gangotri can be reached from 
<B>Rishikesh</B> From Rishikesh take the road to Chamba &amp; drive down 
further to Tehri. From Tehri drive to <B>Dharasu</B> (37 km) Here 
the road divides.&nbsp; To the left leads to <B>Barkot</B> & <B>Hanuman 
Chatti</B>, to the right to <B>Uttarkashi</B> (26 km), <B>Lanka (</B>87 km) 
 <B>Gangotri</B> (13 km).</FONT></FONT> 
<P><FONT face=Arial COLOR=YELLOW><FONT size=3><B>Gangotri </B>(Altitude 3,140 m) 
248 km from <B>Rishikesh</B> The <B>Temple of Gangotris</B> dedicated to 
the Goddess Ganga is erected where she is believed to have descended to 
earth According to Hindu belief, this daughter of heaven came down to 
earth as a reward for King Bhagirathi's penace of several centuries. Here 
the river is worshipped as a deity. The <B>Gaurikund waterfall</B>, one of 
the most beautiful in the Himalaya, the rocks resembling giant stone chip tools, 
is nearby <B>Gaumukh </B>(Cow's mouth) is 18 km away &amp; a gradual but 
nevertheless scenically stunning trek. There are many ashrams &
 a 
sizeable permanent population of Sadhus who brave the elements throughout the 
year. Gangotri is effectively closed over winter.
<B>Accommodation</B> is in the form of dharamshalas  
resthouses.</FONT></FONT> 
<P><FONT face=Arial COLOR=YELLOW><FONT size=3>Gangotri (10,020 ft.) is the ritual source of the Ganges, although the present source is the glacier at Gaumukh, ten miles upstream.  This temple was built late in the 19th century by the king of Jaipur, and its primary deity, not surprisingly, is the Goddess Ganga.</font></font></P>
</BODY></HTML>
