<html>
<head>  </head>
<title> </title>
<style>
h1{ color:blue;}
.a{color:green;}
</style>
<form>
<h1 > searching for a tourist guide?? . </h1> 
 <h2 class="a"> Dont worry your seach is over  </h2>
<h2>here we provide you an awesome tourist guide and a professional photographer to enjoy your holidays to the fullest </h2>
choose here:
<input type="checkbox" name="tour"> Tourist guide
<input type="checkbox" name="photo"> Photographer
<br>
enter the place of your holiday: <br>
<input type="text" name="holi" value="">
<br> <br>
enter the duration of your holidays:  <br>
<input type="text" name="dur" value="">
<br>
<br>
choose the language for hiring:
<select name="lang">
<option value="eng"> english 
<option avlue="hindi"> hindi
<option value="punjabi"> punjabi
<option value="marathi"> marathi
<option value="other"> other lang
</select>
<br> <br>
<input type="submit" value="submit">
</form>
<body bgcolor="silver">
<h3 align="right"> <a href="/acco1"> back </a> </h3>
</body>
</html>


