
<HTML><HEAD><TITLE> PINk CITY JAIPUR</TITLE><a href=main.htm><FONT FACE=TIMES NEW ROMAN SIZE=3 COLOR="GREEN"></a></FONT>
<br>


<body bgcolor=PINK ><center> <h1><b><font face=arial narrow size=6 colour=GREEN>THE PINK CITY </h1></b></font></center>
 RAJASTHAN Tourism: 
                              Travel Guide<BR> <BR><STRONG><font face= verdana size=3>Where Sun, Sea and Surf come 
                        together</STRONG><BR><IMG src="JAIPUR.2.JPG" border=3 align=left> 
              THE PINK CITY OF INDIA

The picturesque capital of Rajasthan, Jaipur is color washed pink-the color associated with hospitality in Rajput culture. Built in 1727 A.D. by Maharaja Sawai Jai Singh II, Jaipur displays a remarkable harmony and architectural splendor. The ancient heart of the Pink City still beats in its fairy-tale palaces, rugged fortresses perched on barren hills and broad avenues that dot the entire city. The only planned city of its time, Jaipur is encircled by a formidable wall.

A young Bengali architect, Vidyadhar Bhattacharya formalised the city’s plans in a grid system. The wide straight avenues. Roads, streets, lanes and uniform rows of shops on either side of main bazaars were arranged in nine rectangular city sectors (Chokris), in accordance with the principles of town planning set down in the ‘Shilpa Shastra’- and epochal treatise on the Hindu architecture
</font><p><br></br> 
                <IMG src="jaipur.jpg" 
                      align=right  border=0> </p><p align=justify></FONT>                     <font face=verdana size=3 >Hawa Mahal Built in 1799 A.D. the Hawa Mahal or Palace of Winds is a major Rajput landmark. This five storey building along the main street of the old city is in pink splendor with semioctagonal and delicately honey combed sandstone windows.

The monument was originally conceived with the aim of enabling ladies of the royal household to watch the everyday life and royal processions of the city.



                    </BODY></HTML>
