
<HTML><HEAD><TITLE>Kangra</TITLE>
</HEAD><br>
<a href=main.htm><FONT FACE= TIMES NEW ROMAN SIZE=3 COLOR=black></a></FONT>
<br>

<BODY bgcolor="Lavender">
      <P align=center><B><U><FONT face=Verdana color="darkorchid" 
      size=5>KANGRA</FONT></U></B></P>
      <HR>

      <CENTER>
      <FONT face=Verdana size=2 color="darkorchid" >The Kangra valley is one of the most picturesque valley of lower Himalyas. The valley, sheltered by the sublime Dhauladhar range, is green and luxuriant. It provides a tremendous contrast in nature of places to be visited. Dharamshala is full of Buddhist air whereas ancient Hindu Temples like Brajeshwari, Baijnath, Jawalamukhi and Chamunda Devi dot the country side. 

The history of Kangra valley dates back to the Vedic times more than 3500 yrs. ago. The area was exposed to successive invasions, the last being the British domination over the princes of the hill states. Despite the onslaughts and political upheavels, the arts and crafts of the region continued to develop and found lyrical expressions. Crafts like the exquisitely designed shawls and miniature paintings of this region are internationally appreciated.</FONT><IMG height=200 
            src="kangra.1.jpg" width=225 align=left> 
            <P><B><FONT face=Verdana size=2 color="darkorchid">KANGRA TOWN</FONT></B></P>
            <P><FONT face=Verdana size=2 color="darkorchid">At the confluence of the Bener and Majhi streams , over looking the Ban Ganga torrent, Kangra town is famous for its temples.Notable is the shrine dedicated to goddess Brijeshwari. Kangra is steeped in history and its ruined fort - Nagarkot, stands as testimony to its glorious past. The town was attacked by Mohammed Ghaznavi and subjugated by Emperor Feroz Tuglak and Maharaja Rant Singh. Earlier, Kangra was the capital of the great hill state, its renowned ruler being Maharaja Sansar Chand Katoch, a great patron of arts. The Miniature and Rajpur Schools of hill paintings flourished during his reign. 
</FONT></P>
            
            
            <HR width="100%">
           
            <P><B><FONT face=Verdana size=2 color="darkorchid" >Must to See</FONT></B></P>
            
            <P><B><FONT face=Verdana size=2 color="darkorchid" >MAHARANA PRATAP SAGAR</FONT></B></P>
            <P><FONT face=Verdana size=2 color="darkorchid" ><IMG height=162 
            src="kangra.2.jpg" width=276 align=right>At an altitude of 450 metres above sea level, 32 degree north and 76 degrees east. In district Kangra 170 k.m. from Chandigarh, 110 k.m. from Amritsar, 55 k.m. from headquarters at Dharamshala. The closest railway stations are at Mukerian 30 k.m., and Pathankot at 32 k.m. The settlements of Nagrota Surian and Jawali-which are located on the sagar's periphery-are connected by the charming narrow gauge Kangra railway line that connects Pathankot to Jogindernagar. The closest airport is Gaggal 40 k.m. The lake is well served by a network of roads. 
.</FONT></P>
            <HR width="100%">

            
            
            <HR width="100%">

            
    </BODY></HTML>
