
<HTML><HEAD><TITLE>Nainital: Introduction</TITLE>
<HTML>
<BODY  bgColor="ORANGE"><FONT face="Courier New">
<br>
<a href=main.htm></a>
<br>

<P align="center"><B><FONT face="Times New Roman" 
color="GREEN" size=5><STRONG>Welcome in 
Nainital</STRONG></FONT></b></P>

<P align="justify"> <font face="times new roman" color="RED" size=3>The first recorded 
                  discovery of this now popular hill station of Nainital, was in 1841 when a British, Mr. Barron, 
                  chanced upon the lake. Moved by the scenic beauty of the lake 
                  and thickly forested hills, he constructed a house named 
                  Pilgrims Cottage. It was the first of many residences, which 
                  were to transform Nainital into a popular resort. By 1858, 
                  Nainital became a well-known hill station, and within a few 
                  years the summer seat of the provincial government. 
                 <IMG height=152  
img src="nanilake.jpg" 
width="225" align="right">
 <P align="justify">According to local belief the origin of 
                  Nainital harks back to mythological times. Sati, Lord Shivas 
                  consort committed suicide at the yajna of Daksha Prajapati. 
                  When Lord Shiva roamed across the universe carrying her dead 
                  body, Satis eye fell near the lake, where the Naina Devi 
                  temple now stands. The waters of the lake are therefore 
                  considered sacred and the Naina Devi temple is the venue of an 
                  autumnal fair. In ancient times, the lake was know as the 
                  Tri-rishi Sarovar, the lake of three rishis-Atri, Pulastya and 
                  Pulaha.</P>
                  <P align="justify">Prior to 1839, the valley was covered by 
                  thick forests and inhabited by hill tribesmen. A major 
                  landslide in 1880 led to the formation of the flats, the level 
                  ground by the lake, where a variety of entertainment awaits 
                  the traveler. Nainitals attractions range from quiet walks in 
                  meadows the forests of pine and deciduous, the adventure 
                  sports as well as popular entertainment. This hill resort can 
                  be enjoyed at any time of the year. 
                  <UL>
                    <LI><STRONG>Area</STRONG> : 11.7 Sq. km. </LI>
                    <LI ><STRONG>Population</STRONG> : 30,951 
                    (1991 census) </LI>
                    <LI ><STRONG>Altitude</STRONG> : 1938 
                    meters above sea level.</LI> 
                    <LI ><STRONG>Season</STRONG> : March June, 
                    mid September October</LI> 
                    <LI ><STRONG>Clothing</STRONG>: Summer - 
                    Light Woolens; Winters - Heavy Woolens </LI>
                    <LI ><STRONG>Language</STRONG> : Hindi, 
                    English &amp; Kumaoni. </LI>
                    <LI ><STRONG>Local Transport</STRONG> : 
                    Rickshaws, Dandies, Ropeway, Ponies, Taxis. </LI>
                    <LI ><STRONG>STD Code</STRONG> : 05942 
                  </LI></UL>
                </BODY></HTML>
