<html>
<head> </head>
<title> </title>
<style type="text/css">
.main{background-color:black;color:white;}
.end{ background-color:black;color:white;font-family:arial;}
</style>
<body background="lake.jpg" alink="white" vlink="white">
<br>
<header class="main">   travelrush <sub> .com </sub> &nbsp &nbsp &nbsp &nbsp  
<a href="home.html"> home </a>  &nbsp &nbsp &nbsp &nbsp
<a href="gallery.html"> gallery </a>
&nbsp &nbsp &nbsp &nbsp 
<a href="acc.html">accomodation </a> &nbsp &nbsp &nbsp &nbsp  <a href="register.html">register </a>
&nbsp &nbsp &nbsp &nbsp  <a href="login.html">login  </a>&nbsp &nbsp &nbsp &nbsp 
<a href="contact us.html">contact us  </a> </header> 
<img src="flyy.jpg" align="right">
<h1 align="center"> <font face="lime" color="pink" size="7"> Give yourself a break and escape!!
 </font>  </h1>
 <br> <h2>  <i> Dont listen to <br> <br>  what they see <br>  <br> go see...Explore ! </i> <h2>
<h2 align="center">  <font color="yellow">  <u> Lets discover the world together  </u> </font> </h2> 
<br> <br>  <br> <br> <br> <br>
<footer class="end">  &nbsp follow us on: www.facebook.com/travelrush <br>
 www.twitter.com/travelrush <br>
<h3 align="right">   <font color="red"> &copy </font>  Travelrush(India)Pvt.ltd </h3>
 </footer>
</body>
</html>
