
<HTML><HEAD><TITLE>MUMBAI BOMBAY INDIA </TITLE>
</HEAD><br>
<a href=main.htm><FONT FACE="TIMES NEW ROMAN" SIZE=3 COLOR=Feldspar ></a></FONT>
<br>

<BODY bgcolor="PEACOCK GREEN">
<hr>
 <h1><B><center><FONT face="Book Antiqua" size=25 COLOR= BLACK>SOLAN</FONT></B></P></h1><hr></center>
      
<P align=center><IMG height=162 alt="SOLAN"  src="solan.jpg" width=247
 border=0></P>
<P align=center><B><FONT face=Verdana size=4 COLOR=BLACK>Blessed with a pleasant climate all the year round. Solan has an old brewery and a sprawling horticulture and forestry university. HPTDC hotel and restaurant are available. 

GENERAL INFORMATION 

ALTITUDE 1350 meters 
POPULATION 21,867 
TEMPERATURE Max. 35°C Min. - 2°C 

CLOTHING: Cotton clothes in Summer and light woolen to woolen in winter
LANGUAGE: Hindi, Punjabi, English are understood and spoken by the people engaged in tourism trade. 

APPROACH 

RAIL: The nearest broad gauge railway station is at Kalka and nearest narrow gauge railway station is at Solan, which are connected by regular bus services. 

ROAD: Solan is approachable by road from Shimla and Chandigarh </FONT></B>
</BODY></HTML>
